gtk-2.0/
gtk-3.0/
gtk-4.0/
zoomus.conf
yelp/
ibus/
cura/
blender/
discord/
gh/
TUG/
GIMP/
FreeCAD/
libreoffice/
pulse/
dconf/
nautilus/
nvm/
totem/
vlc/
vifm/
.hdl_checker/
QtProject.conf
Slippi Launcher/
SlippiOnline/
SlippiPlayback/
audacity/
bat/
bluetuith/
cat_installer/
coc/
gedit/
glib-2.0/
google-chrome/
htop/
inkscape/
kicad/
kitty/
libfm/
lxsession/
menus/
mimeapps.list
neofetch/
nvim/syntax/
nvim/undo_dir/
pacmixer/
pavucontrol.ini
pcmanfm-qt/
pcmanfm/
pdfarranger/
qBittorrent/
whoozle.github.io/
zoom.conf
zsh/.zcompdump
