* {
	font-family: Jetbrains Mono;
	font-size: 18px;
}

window {
	background-color: #00aaee; /* Light gray */
    border-radius: 5px;
}

#input {
	margin: 5px;
	border-radius: 3px;
	border: none;
	border-bottom: 3px solid black;
	background-color: #f6f6f6; /* Light gray */
	color: black; /* Changed to black for better contrast */
}

#inner-box {
	background-color: #fafafa; /* Light gray */
}

#entry:nth-child(even){
    background-color: #f6f6f6;
}

#outer-box {
	margin: 5px;
	padding: 20px;
	background-color: #fafafa; /* Light gray */
}

#scroll {
}

#text {
	padding: 1px;
	color: black; /* Changed to black for better contrast */
}

#entry:selected {
	background-color: #92d2f9; /* Light blue */
}

#text:selected {
}
